<div class="bg-dark container round-border ">
    <div class="row justify-items-center">
        <div class="col-md-6 container-height">
            <a class="text-white" href="/terms">
                TERMS & CONDITION
            </a>    
        </div>
        <div class="col-md-6 container-height">
            <a class="text-white" href="/privacy">
                PRIVACY & POLICY
            </a>
        </div>
    </div>
</div>