<div class="bnr_bg theme_spacing">
    <div class="container text-center">

        <div class="bnr_slogan">
            <a href="<%=root_path%>"><%=image_tag "logo.png", width:"299", height: "92", class: "img-fluid", alt: ''%></a>
            <h3>Write of <span>up to 80%</span> of Your Debt Today</h3>
            <div class="clearfix"></div>
            <div class="d-flex justify-content-center">
                <div class="col-md-9">
                    <div class="card">
                        <div class="user"><%=image_tag "usr.jpg", width:"70", height: "70", class: "rounded-circle", alt: ''%></div>
                        <!--<div class="fieldsetStep d-flex justify-content-center align-items-end"><span></span></div>-->
                        <form id="msform" class="fieldsetForm">
                            <fieldset data-step="Account">
                                <div class="form-card">
                                    <h2 class="fs-title">What is the Total
                                        Amount of Tour Debt?</h2>
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="1-option" name="selector">
                                                    <label for="1-option">Less than £5,000 </label>
                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="2-option" name="selector">
                                                    <label for="2-option">£5,000 - £8,000 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="3-option" name="selector">
                                                    <label for="3-option"> £8,000 - £10,000 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="4-option" name="selector">
                                                    <label for="4-option"> £10,000 - £12,000 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="5-option" name="selector">
                                                    <label for="5-option">£12,000 - £15,000 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="6-option" name="selector">
                                                    <label for="6-option"> £15,000+ </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> <input type="button" name="next" class="next action-button" value="Next" />
                            </fieldset>
                            <fieldset data-step="Personal">
                                <div class="form-card">
                                    <h2 class="fs-title">How many people or companies do you owe money to? </h2>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="7-option" name="selector">
                                                    <label for="7-option">1</label>
                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="8-option" name="selector">
                                                    <label for="8-option">2 - 3 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="9-option" name="selector">
                                                    <label for="9-option"> 3 - 5 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="10-option" name="selector">
                                                    <label for="10-option"> 6+ </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div> <input type="button" name="next" class="next action-button" value="Next" />
                                <input type="button" name="previous" class="previous action-button-previous"
                                    value="Previous" />
                            </fieldset>
                            <fieldset data-step="Personal 2">
                                <div class="form-card">
                                    <h2 class="fs-title">What is your monthly debt repayments?</h2>
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="11-option" name="selector">
                                                    <label for="11-option"> Less than £50 </label>
                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="12-option" name="selector">
                                                    <label for="12-option"> £50 - £100 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="13-option" name="selector">
                                                    <label for="13-option"> £100 - £150 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="14-option" name="selector">
                                                    <label for="14-option"> £150 - £200 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="15-option" name="selector">
                                                    <label for="15-option">£200+ </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div> <input type="button" name="next" class="next action-button" value="Next" />
                                <input type="button" name="previous" class="previous action-button-previous"
                                    value="Previous" />
                            </fieldset>
                            <fieldset data-step="Image">
                                <div class="form-card">
                                    <h2 class="fs-title">What is your employment status? </h2>
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="16-option" name="selector">
                                                    <label for="16-option">Full Time </label>
                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="17-option" name="selector">
                                                    <label for="17-option">Part Time </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="18-option" name="selector">
                                                    <label for="18-option">Retired </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="19-option" name="selector">
                                                    <label for="19-option"> Unemployed </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="20-option" name="selector">
                                                    <label for="20-option">Student </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="21-option" name="selector">
                                                    <label for="21-option"> Other </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> <input type="button" name="next" class="next action-button" value="Next" />
                                <input type="button" name="previous" class="previous action-button-previous"
                                    value="Previous" />
                            </fieldset>


                            <fieldset data-step="Image">
                                <div class="form-card">
                                    <h2 class="fs-title">What is your total monthly income?</h2>
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="22-option" name="selector">
                                                    <label for="22-option"> Less than £500 </label>
                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="23-option" name="selector">
                                                    <label for="23-option">£500 &nbsp;-&nbsp; £1000</label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="24-option" name="selector">
                                                    <label for="24-option">£1000 &nbsp;-&nbsp; £1500 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="25-option" name="selector">
                                                    <label for="25-option"> £1500 &nbsp;-&nbsp; £2000 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="26-option" name="selector">
                                                    <label for="26-option">£2000 &nbsp;-&nbsp; £2500 </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="27-option" name="selector">
                                                    <label for="27-option"> £2500+ </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> <input type="button" name="next" class="next action-button" value="Next" />
                                <input type="button" name="previous" class="previous action-button-previous"
                                    value="Previous" />
                            </fieldset>

                            <fieldset data-step="Personal">
                                <div class="form-card">
                                    <h2 class="fs-title">Where do you live? </h2>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="28-option" name="selector">
                                                    <label for="28-option">England</label>
                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="29-option" name="selector">
                                                    <label for="29-option">Scotland </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="30-option" name="selector">
                                                    <label for="30-option"> Wales </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="31-option" name="selector">
                                                    <label for="31-option"> Northern Ireland </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <input type="button" name="next" class="next action-button" value="Next"> <input
                                    type="button" name="previous" class="previous action-button-previous"
                                    value="Previous">
                            </fieldset>

                            <fieldset data-step="Personal">
                                <div class="form-card">
                                    <h2 class="fs-title">What is your residential status? </h2>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="32-option" name="selector">
                                                    <label for="32-option"> Private Tenant </label>
                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="33-option" name="selector">
                                                    <label for="33-option"> Other Tenant </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="34-option" name="selector">
                                                    <label for="34-option"> Homeowner </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <ul>
                                                <li>
                                                    <input type="radio" id="35-option" name="selector">
                                                    <label for="35-option"> Other </label>

                                                    <div class="check"></div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <input type="button" name="next" class="next action-button" value="Next"> <input
                                    type="button" name="previous" class="previous action-button-previous"
                                    value="Previous">
                            </fieldset>

                            <fieldset data-step="Personal">
                                <div class="form-card">
                                    <h2 class="fs-title">Personal Details </h2>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="txtfld">
                                                <input class="form-control form-control-lg cstinput" type="text"
                                                    placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="txtfld">
                                                <input class="form-control form-control-lg cstinput" type="text"
                                                    placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="txtfld">
                                                <input class="form-control form-control-lg cstinput" type="Email"
                                                    placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="txtfld">
                                                <input class="form-control form-control-lg cstinput" type="text"
                                                    placeholder="Phone No">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-12">
                                            <div class="txtfld">
                                                <div class="custom-control custom-checkbox mr-sm-2 d-flex">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="customControlAutosizing" style="width: auto">
                                                    <label class="custom-control-label ms-3"
                                                        for="customControlAutosizing">you agree to be contacted
                                                        by us and our partners by telephone, email and sms. You
                                                        are aware that the information you have submitted will
                                                        be used to assess your current situation in accordance
                                                        with the terms and conditions and privacy policy.
                                                        (hyder link to privacy policy and terms and conditions)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="txtfld float-right">
                                                <a href="#" type="button" class="btn btn-primary btn-lg cstbtn">Write
                                                    off My Debt!</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <input type="button" name="next" class="next action-button" value="Submit">
                                <input type="button" name="previous" class="previous action-button-previous"
                                    value="Previous">
                            </fieldset>



                            <fieldset data-step="Finish" class="">
                                <div class="form-card">
                                    <h2 class="purple-text text-center"><strong>Thank You for Your
                                            Applications</strong></h2> <br>
                                    <p class="white-text text-center">One of The Advisors Will be in Touch
                                        Shortly</p>
                                </div>
                                <!--<input type="button" name="previous" class="previous action-button-previous d-block" value="Previous">-->
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<%=content_for :page_content do %>

    <p>An IVA or Individual Voluntary Arrangement is subject to meeting qualifying<br> and getting creditor
					acceptance. There is no obligation to proceed with an IVA, the advice is free.<br> IVA payments and
					fees may differ from the examples provided. </p>
                    <%end%>