<div class="card bg-dark text-white">
<<<<<<< HEAD
    <%=image_tag "company.png", style: "opacity: 0.3"%>
=======
    <%=image_tag "company.jpg", class:"h-50", style: "opacity: 0.3"%>
>>>>>>> 0d79327981bc872aaf8daf35443b4a5dce6a7f54
    <div class="card-img-overlay">
        <div class="row justify-content-center">
            <%=image_tag "logo.png", class: "logo"%>
            <h3 class="text-center">Write of <span class="text-warning">up to 80% </span> or Your Debt Today </h3>

            <div class="content">
                <div class="row justify-content-center text-center">
                    <p >Hey, I'm Mila!</p>
                    <p>Your debt expert. Let's get started!</p>
                    <form>
                        <div class="card1">                   
                            <h3>What is the Total Amount of your Debt? </h3>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtAmount" id="debtAmount1" value="Less than 5000 £" >
                                        <label class="form-check-label" for="debtAmount1">
                                            Less than 5000 £
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtAmount" id="debtAmount2" value=" 5000 £ - 8000 £" >
                                        <label class="form-check-label" for="debtAmount2">
                                            5000 £ - 8000 £
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtAmount" id="debtAmount3" value="8000 £ - 10000 £" >
                                        <label class="form-check-label" for="debtAmount3">
                                            8000 £ - 10000 £
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtAmount" id="debtAmount4" value="10000£ - 12000£" >
                                        <label class="form-check-label" for="debtAmount4">
                                            10000£ - 12000£
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtAmount" id="debtAmount5" value="12000£ - 15000£" >
                                        <label class="form-check-label" for="debtAmount5">
                                            12000£ - 15000£
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtAmount" id="debtAmount6" value="15000 £ +">
                                        <label class="form-check-label" for="debtAmount6">
                                            15000 £ +
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card1 display-none">                   
                            <h3> How many people or companies do you owe money to? </h3>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="numberofdebt" id="numberofdebt1" value="1" checked>
                                        <label class="form-check-label" for="numberofdebt1">
                                            1
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="numberofdebt" id="numberofdebt2" value="2-3" checked>
                                        <label class="form-check-label" for="numberofdebt2">
                                        2-3
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="row justify-content-center p-3">
                            <div class="col">
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="numberofdebt" id="numberofdebt3" value="3-5" checked>
                                    <label class="form-check-label" for="numberofdebt3">
                                        3-5 
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="numberofdebt" id="numberofdebt4" value="6+" checked>
                                    <label class="form-check-label" for="numberofdebt4">
                                        6+
                                    </label>
                                </div>
                            </div>   
                            <div class="col">
                            </div>
                        </div>
                        </div>
                        <div class="card1 display-none">                   
                            <h3>What is your monthly debt repayments? </h3>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtPayment" id="debtPayment1" value="Less than 50" >
                                        <label class="form-check-label" for="debtPayment1">
                                            Less than 50 £
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtPayment" id="debtPayment2" value="50 £ - 100 £" >
                                        <label class="form-check-label" for="debtPayment2">
                                            50 £ - 100 £
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtPayment" id="debtPayment3" value="150 £ - 150 £" >
                                        <label class="form-check-label" for="debtPayment3">
                                            150 £ - 150 £
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtPayment" id="debtPayment4" value="150£ - 200£" >
                                        <label class="form-check-label" for="debtPayment4">
                                            150£ - 200£
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="debtPayment" id="debtPayment5" value="200£+" >
                                        <label class="form-check-label" for="debtPayment5">
                                            200£+ 
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                        </div>
                        <div class="card1 display-none">                   
                            <h3>What is  your employment status? </h3>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="employmentStatus" id="employmentStatus1" value="Full Time" checked>
                                        <label class="form-check-label" for="employmentStatus1">
                                            Full Time
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="employmentStatus" id="employmentStatus2" value="Part Time" checked>
                                        <label class="form-check-label" for="employmentStatus2">
                                            Part Time
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="employmentStatus" id="employmentStatus3" value="Retired" checked>
                                        <label class="form-check-label" for="employmentStatus3">
                                            Retired
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="employmentStatus" id="employmentStatus4" value="Unemployed" checked>
                                        <label class="form-check-label" for="employmentStatus4">
                                            Unemployed
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="employmentStatus" id="employmentStatus5" value="Student" checked>
                                        <label class="form-check-label" for="employmentStatus5">
                                            Student 
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="employmentStatus" id="employmentStatus6" value="Other" checked>
                                        <label class="form-check-label" for="employmentStatus6">
                                            Other
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="card1 display-none">                   
                            <h3>What is your total monthly income? </h3>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="monthlyIncome" id="monthlyIncome1" value="Less than 500£" checked>
                                        <label class="form-check-label" for="monthlyIncome1">
                                            Less than 500 £
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="monthlyIncome" id="monthlyIncome2" value="500 £ - 1000 £" checked>
                                        <label class="form-check-label" for="monthlyIncome2">
                                            500 £ - 1000 £
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="monthlyIncome" id="monthlyIncome3" value="1000 £ - 1500 £" checked>
                                        <label class="form-check-label" for="monthlyIncome3">
                                            1000 £ - 1500 £
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="monthlyIncome" id="monthlyIncome4" value="1500£ - 2000£" checked>
                                        <label class="form-check-label" for="monthlyIncome4">
                                            1500£ - 2000£
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="monthlyIncome" id="monthlyIncome5" value=" 2000£ - 2500£" checked>
                                        <label class="form-check-label" for="monthlyIncome5">
                                            2000£ - 2500£ 
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="monthlyIncome" id="monthlyIncome6" value="2500£+" checked>
                                        <label class="form-check-label" for="monthlyIncome6">
                                            2500£+ 
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card1 display-none">                   
                            <h3>WWhere do you live? </h3>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                        
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="country" id="country1" value="England" checked>
                                        <label class="form-check-label" for="country1">
                                            England
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="country" id="country2" value="Scotland" checked>
                                        <label class="form-check-label" for="country2">
                                            Scotland
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                        
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="country" id="country3" value="Wales" checked>
                                        <label class="form-check-label" for="country3">
                                            Wales
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="country" id="country4" value="Nothern Ireland" checked>
                                        <label class="form-check-label" for="country4">
                                            Nothern Ireland
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card1 display-none">                   
                            <h3>What is your residential status? </h3>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                        
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="residentialStatus" id="residentialStatus1" value="Private Tenant" checked>
                                        <label class="form-check-label" for="residentialStatus1">
                                            Private Tenant
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="residentialStatus" id="residentialStatus2" value="Other Tenant" checked>
                                        <label class="form-check-label" for="residentialStatus2">
                                            Scotland
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                            <div class="row justify-content-center p-3">
                                <div class="col">
                                        
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="residentialStatus" id="residentialStatus3" value="Home owner" checked>
                                        <label class="form-check-label" for="residentialStatus3">
                                            Home Owner
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="residentialStatus" id="residentialStatus4" value="Other" checked>
                                        <label class="form-check-label" for="residentialStatus4">
                                            Other
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card1 display-none">                   
                            <h3> Personal details  </h3>
                            <div class="row justify-content-center">
                                <div class="">
                                    <div class="mb-3 ">
                                        <label for="firstName" class="form-label">First Name</label>
                                        <input type="text" name="firstName" class="form-control" id="firstName" value="">
                                    </div>
                                </div>
                                <div class="">
                                    <div class="mb-3 ">
                                        <label for="lastName" class="form-label">Last Name</label>
                                        <input type="text" name="lastName" class="form-control" id="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <div class="">
                                            <input type="text"  name="email" class="form-control" id="email" value="" placeholder="email@example.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="mb-3">
                                        <label for="Phone" class="form-label">Phone</label>
                                        <input type="text" name="phone" class="form-control" id="Phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-space">
                        <div class="col back-btn">
                            <button type="submit" class="btn btn-primary previous">back</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary next">Next</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="container m-5 ">
    <div class="row text-center">
        <p>
            An IVA or indiviual Voluntary Arrangement is subject to meeting qualifying and getting creditor acceptance.
        </p>
        <p>
            There is no obligation to proceed with an IVA, the advice is free. IVA payments and fees may differ from the examples povided.
        </p>
    </div>
</div>

<script>
    var cardIndex = 1;
    $(".back-btn").css("display", "none")

    $(".next").click(()=>{
        document.getElementsByClassName("card1")[cardIndex-1].style.display ="none"
        document.getElementsByClassName("card1")[cardIndex].style.display ="block"
        cardIndex = cardIndex + 1;
        if(cardIndex > 1){
            $(".back-btn").css("display", "block")
        }
    })

    $(".previous").click(()=>{
        document.getElementsByClassName("card1")[cardIndex-1].style.display ="none"
        cardIndex = cardIndex - 1;
        document.getElementsByClassName("card1")[cardIndex-1].style.display ="block"
        if(cardIndex == 1){
            $(".back-btn").css("display", "none")
        }
    })

</script>